* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Boldonse&family=Cinzel:wght@800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


.letra1{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  }

body {
  background-color: #f7fdfd;
}

header {
  font-size: 20px;
  background-color: #3c7684;
  color:#f7fdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 30px;
}

header h1 {
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #f7fdfd;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 3px;
}

nav a:hover{
  background-color: #5a93a086;
  padding: 4px;
  border-radius: 10px;
  transition: 0.5s;
}

section {
  background-color: #5a93a086;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  max-width: 900px;
  margin-left: 225px;
}

section:hover {
  transform: translateY(-10px);
}

section h2{
  margin-bottom: 15px;
}

section li{
  margin-left: 20px;
}

section img {
  height: auto;
  width: 900px;
  margin-top: 10px;
}

footer {
  background-color: #3c7684;
  color: #f7fdfd;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer a {
  color: #e3f7f8;
}
